/dist
.env
.DS_Store
/uploads
/static
/node_modules
yarn-error.log

.tools

.idea

coverage
.integration-http-runtime.json

!src/**

./tsconfig.tsbuildinfo
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

